
body{
    width: 700px;
}


header{
    background-image: url("09.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
     
}



.middlepart h1 ,
.middlepart .first h4{
    text-align: center;
}


.middlepart .second{
    position: relative;
    left: 40px;
    top: 70px;
}

.middlepart .third{
    position: relative;
    left: 37%;
    bottom: 195px;
}

.middlepart .fourth{
    position: relative;
    left: 71%;
    bottom: 460px;
    
}

.aftermiddle{
    background-color: #F6F6F6;
    height: 400px;
}

.aftermiddleimage img{
  width: 800px;
  height:auto;
  position: relative;
  bottom: 200px;
}

.footer{
    display: flex;
    align-items: center;
}
.aftermiddletext{
    position: relative;
    left: 60%;
    bottom: 600px;
}

.aftermiddleimage1 img{
    width: 800px;
    height: auto;
    position: relative;
    bottom: 200px;
    left : 50%;

}
.iconandlinks {
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    /* Adjust the color as needed */
    margin: 0 10px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    /* Adjust the spacing between links as needed */
}

.nav-links {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo-image{
    width: 50px;
    height:auto;
    position: absolute;
    top: 10px;
    left:60px;
}

.image-and-cto{
    color: white;
}


.header-text{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    
    
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    header{
        padding: 40px;
        
    }

    .logo-image {
        width: 30px;
        
    }

    .nav-links {
        top: 5px;
        right: 5px;
      
    }

}

.image-and-cto {
    position: relative;
    text-align: left;
    margin-top: 180px;
    margin-left: 59px
}

.button-header{
    position: absolute;
    bottom: 140px;
    margin-left: 59px;
    color: white;
    border: none;
    height:40px;
    width: 120px;
    cursor: pointer;
    background-color: #4B05DF;

}